<div class="mx-auto max-w-2xl">
  <div class="bg-white p-10 rounded text-sm space-y-6" {{did-insert this.initPlayer}}>
    <div class="flex flex-">
      <img class="w-24 h-24" src={{@model.meta.artworkUrl600}} alt="artwork"/>
      <div class="ml-4">

        <div class="text-lg font-bold">{{@model.meta.collectionName}}</div>
        <div class="text-lg text-gray-600">{{@model.episode.trackName}}</div>

        <div class="relative flex items-start">
          <div class="flex h-6 items-center">
            <input
              id="comments"
              aria-describedby="comments-description"
              name="comments"
              type="checkbox"
              checked={{this.autoSkipAds}}
              class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
              {{on "change" this.toggleSkipAds}}
            >
          </div>
          <div class="ml-3 text-sm leading-6">
            <label for="comments" class="font-medium text-gray-600 text-lg">Auto Skip Ads</label>
          </div>
        </div>
      </div>
    </div>

    <audio id="audioPlayer" class="w-full mt-4" controls>
      <source src={{@model.episode.newEpisodeUrl}} type="audio/mp3">
      Your browser does not support the audio element.
    </audio>



    {{!-- <div class="mt-4">
        {{#each this.ads as |ad|}}
          {{#if (and (gte this.currentTime ad.start_time) (lte this.currentTime ad.end_time))}}
            <button
              type="button"
              class="rounded bg-indigo-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              {{on 'click' (fn this.skipAd ad)}}
            >
              Ad Detected! Skip?
            </button>
          {{/if}}
        {{/each}}
    </div> --}}
  </div>

  <div class="bg-white rounded text-sm my-4">
    <div class="p-6 font-bold">Time Saved: {{format-time this.timeSaved}}</div>
    <div>
      <div>
        <div class="inline-block align-middle">
          <div>
            <table class="divide-y divide-gray-200">
              <tbody class="divide-y divide-gray-200 bg-white">
                {{#each this.ads as |ad|}}
                  <tr class={{if (and (gte this.currentTime ad.start_time) (lte this.currentTime ad.end_time)) "bg-indigo-100" "bg-white"}}>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-900 sm:pl-6">
                      <div class="flex flex-row items-center gap-x-4">
                        {{!-- timestamp --}}
                        <div class>{{format-time ad.start_time}} - {{format-time ad.end_time}}</div>
                        {{!-- skip btn--}}
                        <button
                          type="button"
                          class="rounded bg-indigo-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                          {{on 'click' (fn this.skipAd ad)}}
                        >
                          Skip Ad
                        </button>
                      </div>
                      {{!-- text --}}
                      <div class="text-wrap mt-4">{{ad.ad}}</div>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
